<div class="blogContainer">

  <app-toolbar [title]="'Home'" [description]="'Home page description'"></app-toolbar>

  <div class="mt-2">

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mb-3 mb-sm-0 p-2" *ngFor="let ele of blogData">
        <div class="card">

          <div class="card-body row">
            <div class="float-start col-sm-4">
              <img [src]="ele.image">
            </div>
            <div class="column float-start col-sm-8">
              <h3>{{ele.title}}</h3>
              <p>
                {{ele.description}}
              </p>

              <div class="row card-footer-info">
                <div class="col-sm-6">22 July 2020</div>
                <div class="col-sm-6">Alex Paul</div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>



  </div>

</div>